/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Container for side panel and main content */
.container {
    display: flex;
    margin-top: 20px;
}

/* Side Navigation */
.side-nav {
    width: 200px;
    background-color: #333;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

.side-nav ul li {
    margin-bottom: 20px;
}

.side-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.side-nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
.main-content {
    margin-left: 220px;
    padding: 20px;
    flex-grow: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
